<%- include('../partials/header') %>

    <div class="container" style="margin: 30px;">
        <div class="card text-center">
          <div class="card-header">
            Add new product
          </div>
          <div class="card-body">
            <form action="/products" method="POST" id="form" enctype="multipart/form-data">

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-6">
                  <input type="text" name="name" id="productName" class="form-control" placeholder="Product Name" aria-describedby="emailHelp">
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="detail" class="col-sm-4 col-form-label">Enter Details</label>
                <div class="col-sm-6">
                  <input type="text" name="detail" id="productName" aria-describedby="emailHelp" class="form-control" placeholder="Details of Product ">
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="price" class="col-sm-4 col-form-label">Enter Price</label>
                <div class="col-sm-6">
                  <input type="number" name="price" id="productName" class="form-control" aria-describedby="emailHelp" placeholder="Price of the Product" required>
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="qtyAvl" class="col-sm-4 col-form-label">Enter Quantity Available</label>
                <div class="col-sm-6">
                  <input type="number" name="qtyAvl" id="productName" class="form-control" aria-describedby="emailHelp" placeholder="Total Quantity Available" required>
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="image" class="col-sm-4 col-form-label">Upload Product Image</label>
                <div class="col-sm-6">
                  <input type="file" name="image" id="productName" class="form-control" multiple required>
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="category" class="col-sm-4 col-form-label">Choose a Category</label>
                <div class="col-sm-6">
                    <select name="category" id="category" class="form-control">
                        <% for(let category of categories){ %>
                            <option value='<%= category %>'>
                                <%= category %>
                            </option>
                            <% } %>
                    </select>
                </div>
              </div>

              <div class="form-group row" style="margin-bottom: 20px;">
                <label for="cityOfPresence" class="col-sm-4 col-form-label">Enter City</label>
                <div class="col-sm-6">
                  <input type="text" name="cityOfPresence" aria-describedby="emailHelp" id="productName" class="form-control" placeholder="City of Presence" required>
                </div>
              </div>


              <button type="submit" class="btn btn-success float-right add-product">Submit</button> 
            </form>
          </div>
        </div>
        <ul class="list-group mt-3">
      </ul>      
      </div>

    <%- include('../partials/footer') %>
